.showcase-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center; 
}

.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
 
.header {
    margin-bottom: 20px;
}
 
.header h1 {
    font-size: 2.8rem;
    color: var(--cuk-primary); 
    margin-bottom: 10px;
}

.header p {
    font-size: 1.5rem;
    color: var(--cuk-text-destak); 
    margin-bottom: 20px;
}
 
.hero-card {
    background-color: var(--cuk-bg-card); 
    margin: 20px 0; 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); 
    border-top: 10px solid var(--cuk-primary-dark); 
}
 
.hero-card h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--cuk-text-medium);
}
 
.hero-card p {
    font-size: 1.5rem;
    color: var(--cuk-text-destak);
    margin-bottom: 20px;
}
 
.action-buttons {
    display: flex; 
    justify-content: center; 
    gap: 25px; 
}
 
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    background-color: #000000; 
    margin-top: auto; 
}

.footer span {
    padding: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: var(--cuk-text-muted);
}