/*
 * 1. Estilo para o Container Principal da Página
*/
.showcase-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 1200px; 
    text-align: center; 
}
 
.header {
    margin-bottom: 20px;
}
 
.header h1 {
    font-size: 2.8rem;
    color: var(--cuk-primary); 
    margin-bottom: 10px;
}

.header p {
    font-size: 1.5rem;
    color: var(--cuk-secondary); 
    margin-bottom: 20px;
}
 
/*
 * 2. Estilo do Cartão de Destaque (Hero Card)
 */
.hero-card {
    background-color: #2c2c2c; 
    margin: 20px auto; 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); 
    border-top: 10px solid var(--cuk-primary-dark); 
}
 
.hero-card h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff; 
}
 
.hero-card p {
    font-size: 1.5rem;
    color: var(--cuk-secondary);
    margin-bottom: 20px;
}
 
/*
 * 3. Estilo para os Botões de Ação
 */
.action-buttons {
    display: flex; 
    justify-content: center; 
    gap: 25px; 
}
 
/*
 * 4. Rodapé
 */
.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%; 
    background-color: #000000; 
}

.footer span {
    padding: 20px;
    text-align: center;
    margin-top: auto; 
    font-size: 1.3rem;
    color: var(--cuk-primary-dark);
}