/*
 * 1. Reset Básico
 */
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    color: #333; 
  }
  
  /*
   * 2. Importe o CSS Base da sua Library (Obrigatório para o Tema!)
   * Lembre-se de rodar 'ng build corporate-ui-kit' e 'npm link corporate-ui-kit'
   */
  @import '~corporate-ui-kit/styles/theme-base.css';
  
  /*
   * 3. Estilo para o componente raiz para centralizar o conteúdo
   */
  app-root {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    padding: 40px 20px;
  }