body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    min-height: 100vh;
}
  
app-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
  
@import '~corporate-ui-kit/styles/theme-base.css';