/*
 * Arquivo: src/styles.css (Seu CSS Global)
*/
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #e0e0e0;
}
  
app-root {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    width: 100%;
    box-sizing: border-box; 
}
  
@import '~corporate-ui-kit/styles/theme-base.css';