html {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
 
app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
 
@import '~corporate-ui-kit/styles/theme-base.css';